<div class="list-row js-list-row" id="list_item_1125" data-id="1125">
    <div class="list-row__cell js-list-row__cell list-row__cell-template-id list-row__cell-id  ">
        <div class="content-table__item__inner" style="overflow:visible">
            <label class="control-checkbox   ">
                <div class="control-checkbox__body">
                    <input type="checkbox" class="" name="" id="lead_1125" value="1125" data-value="1125">
                    <span class="control-checkbox__helper ">

                                                    </span>
                </div>
            </label>
        </div>
    </div>
    <div class="list-row__cell js-list-row__cell list-row__cell-template-reply_name list-row__cell-reply_name  "
         data-field-code="reply_name" data-field-id="reply_name">
        <div class="content-table__item__inner content-table__item__inner-template-reply_name">
            <a href="#" class="js-navigate-link list-row__template-name__table-wrapper__reply_name-link" title="1234">
                1234
            </a>
        </div>
    </div>
    <div class="list-row__cell js-list-row__cell list-row__cell-template-text list-row__cell-reply_text  "
         data-field-code="reply_text" data-field-id="reply_text">
        <div class="content-table__item__inner" title="12312">
                                            <span class="block-selectable">
                                                12312
                                            </span>
        </div>
    </div>
</div>